<% include ../partials/header %>
  <div class="row">
    <div class="col-xs-7 col-sm-6 col-lg-12" style="padding:50px;">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-responsive" style="padding: 50px; height: 600px; width: 500px;" src="<%= book.image %>">
          </div>
          <div class="col-lg-8">
            <div class="caption">
              <h2 style="padding-top: 50px;"><a><%= book.name %></a></h2>
              <h4>Price: $<%= book.price %></h4>
              <p><%= book.description %></p>
              <p>
                <em> Submitted By :<%= book.author.username %> </em>
              </p>
              <hr>
                <% book.comments.forEach(function(comment){ %>
                  <div class="row">
                    <div class="col-md-12">
                    <strong><%= comment.author.username %></strong>
                    <span class="pull-right">10 days ago</span>
                    <p>
                       - <%= comment.text %>
                    </p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                      <a class="btn btn-xs btn-warning"
                         href="/books/<%= book._id %>/comments/<%= comment._id %>/edit">
                         Edit
                      </a>
                      <form id="delete-form" action="/books/<%= book._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                      </form>
                    <% } %>
                    </div>
                  </div>
                <%})%>
                <br>
                <br>
              <% if(currentUser && book.author.id.equals(currentUser._id)){ %>
                <div class="row">
                  <div class="col-sm-4">
                    <a class="btn btn-warning" href="/books/<%= book._id %>/edit">Edit</a>
                  </div>
                  <div class="col-sm-4">
                    <form id="delete-form" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                  <% } %>
                  <div class="col-sm-4">
                    <form method="POST" action="/cart/<%= book._id %>">
                      <input type="submit" name="submit" class="btn btn-success" value="Add to Cart">
                    </form>
                  </div>
                </div>
            </div>
          </div>
          <br>
          <br>
          <div class="well" style="height: 700px;">
            <div class="text-right">
              <a class="btn btn-success new-comment" href="/books/<%= book._id %>/comments/new">Add New Comment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include ../partials/footer %>
