body{
  font-family: 'Raleway', sans-serif;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.cart-title{
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
}

.new-comment{
margin-top: 10px;
}

#cart-btn{
margin: 0 auto;
}

.slideshow {
  background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.38;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* My personal preference - Not required */
}

.caption h4{
  /* font-size: 2.5vh; */
  font-size: 2.5vmin;
	font-weight: bold;
}

#show_img{
  width: 100%;
  height: 624px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3.5%;
}

#index_img{
  width: 100%;
  height: 365px;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3.5%;
}

.thumbnail{
  padding: 0;
  padding-bottom: 5px;
  /*border: none;*/
  display: block;
  margin-bottom: 20px;
  line-height: 1.4285;
  background-color: #fff;
  border-radius: 4px;
}

#delete-form{
  display: inline;
}

#shopping-cart{
    width: 750px;
    height: auto;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: block;
    flex-direction: column;
  }

.ux-card{
    background: #FCFCFC;
    padding:20px;
    position: relative;
    &:hover {
      cursor: pointer;
      border-color: #008a32;
      background-color: #fff;
    }
}

table tbody tr td{
vertical-align: middle;
padding: 8px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #ddd;
color: #555
}

.fa-trash-o{
color: #af111c;
}
td, th{
      padding: 0;
}

.row-heading{
  background: #fff;
  margin: 0 auto;
  font-size: 1.0em;
  font-family:'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.total-display{
  font-family: 'Raleway', sans-serif;
}

.last-line{
margin-top: 15px;
margin-bottom: 25px;
text-align: center;
}

th{
text-align: left;
}

.box{
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #ccc;
      border-right-width: 1px;
      border-left-width: 1px;
      border-right-style: solid;
      border-left-style: solid;
      border-right-color: rgb(204, 204, 204);
      border-left-color: rgb(204, 204, 204);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width:500px;
    min-height: .01%;
    overflow-x: auto;
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.breadcrumb{
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0;
  text-align: center;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
  font-size: 12px;
}

.page-top{
  text-align: center;
  margin-bottom: 45px;
  padding-bottom: 30px;
}

.page-top h1{
  font-size: 43.2px;
  color: #4fbfa8;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.page-top::after {
    height: 1px;
    background: #555;
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: 150px;
}

.text-muted{
  color: #777;
}

table { border-collapse: collapse; }

td + td,
tr + tr { border-top: 1px solid indigo; }

td,
th { padding: 10px; }


// IE7
tr + tr > td,
tr + tr > th { border-top: 1px solid indigo; }

h2 span {
  font-size: 18px;
}
.navbar {
  z-index: 1;
  margin-bottom: 0px;
}

.btn-lg{
  background-color: #c50000;
  border-color: #c50000;
  color: #fff;
}

.navbar-default{
  background-color: #eee;
  border-color: #9ACD32;
  border-bottom: 5px solid #080808;
  padding: 0;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default .navbar-brand{
  font-size: 2rem;
  color: #555;
}

.navbar-default .navbar-nav>li>a {
    color: #555;
    font-size: 1.2em;
}

.fa{
  margin-right: 5.5px;
}

.ux-card td a{
color: #4fbfa8;
}

.book-index{
    background: url(https://source.unsplash.com/3shfnfzdFVc);
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    height: 20%;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    width: 100%;
		position: relative;
		z-index: 1;
    /*margin-left: -275px;*/
}

.book-index div {
    margin-top: 15%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgba(0, 128, 0, .6);
}

p a{
  margin: 0 0 10px;
}
